body {
  background: #1041e3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "tiffin-latin-variable", sans-serif;
}


.crizis{
    color:white;
    font-size:9rem;
    cursor:pointer;
}

.crizis span{
    display:inline-block;
    transition:all .4s ease;
}

.crizis:hover span{
    transform:translateY(-20px);
}
.crizis:hover {
    filter: blur(10px);
}